/* <!-- Main Page Design --> */
:root {
    --background-color: #EEE6DD;
    --Text-color: #0A0805; 
}


html,
body {
    margin: 0px; 
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: copperplate, papyrus, fantasy;
    text-align: center;
    color: var(--Text-color);
    font-weight: 100;
}

/* Body */

.title {
    color: #0a0805;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 auto;
    padding: 1em;
    
}

div .recipe {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1em;
    height: 200px;
    width: 200px;
    margin: 50px;
    border: 2px solid #936f47;
    overflow: hidden;
}

.footer {
    font-size: 1.5rem;
}

/* Links */

.links {
    color: #936f47;
    text-decoration: none;
}

.links:hover {
    color: #ffffff;
}


