/* <!-- Title --> */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #900C3F;
    min-height: 100vh;
}

.title {
    color: #f8DE22;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 auto;
    padding: 1em;
    
}

/* Body and footer */ 

body {
    font-family: copperplate, papyrus, fantasy;
    text-align: center;
    color: #F94C10 ;
    font-weight: 100;
}

div .recipe {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1em;
    height: 200px;
    width: 200px;
    margin: 40px;
    border: 2px solid #F94C10;
    overflow: hidden;
}

.recipe {
    font-size: 20px;
}

.links {
    color: #F94C10;
    text-decoration: none;
}

.links:hover {
    color: #f8DE22;
}

.footer {
    font-size: 1.5rem;
}

