/* <!-- Title --> */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #900C3F;
    min-height: 100vh;

}

.title {
    color: #f8DE22;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 auto;
    padding: 1em;
    
}

/* Body and footer */ 

body {
    font-family: copperplate, papyrus, fantasy;
    text-align: center;
    color: #F94C10 ;
    font-weight: 100;
}

.recipe {
    font-size: 20px;
}